In [2]:
import pandas as pd
df= pd.read_csv('resultdwa1.csv')

In [3]:
df.head()

,Unnamed: 0,Task ID,Task,DWA ID,DWA Title
0,0,15242,Maintain a proper sterile field during surgica...,4.A.4.a.5.I11.D08,Maintain sterile operative fields.
1,1,15243,"Prepare patients for surgery, including positi...",4.A.2.a.3.I04.D01,Protect patients or staff members using safety...
2,2,15243,"Prepare patients for surgery, including positi...",4.A.4.a.5.I11.D04,Position patients for treatment or examination.
3,3,15244,"Clean and restock operating room, gathering an...",4.A.3.a.1.I09.D03,Clean medical equipment or facilities.
4,4,15244,"Clean and restock operating room, gathering an...",4.A.4.c.3.I01.D02,Maintain inventory of medical supplies or equi...

In [13]:
df1= df.iloc[:, 3:5]

In [14]:
df1.head()

              DWA ID                                          DWA Title
0  4.A.4.a.5.I11.D08                 Maintain sterile operative fields.
1  4.A.2.a.3.I04.D01  Protect patients or staff members using safety...
2  4.A.4.a.5.I11.D04    Position patients for treatment or examination.
3  4.A.3.a.1.I09.D03             Clean medical equipment or facilities.
4  4.A.4.c.3.I01.D02  Maintain inventory of medical supplies or equi...

In [15]:
df1.drop_duplicates(subset ="DWA ID", 
                     keep = False, inplace = True)

In [16]:
df1.head()

                 DWA ID                                          DWA Title
430   4.A.4.b.4.I08.D03  Manage control system activities in organizati...
985   4.A.4.b.6.I08.D02         Advise others on matters of public policy.
1144  4.A.4.b.5.I02.D05    Support the professional development of others.
1639  4.A.4.a.3.I01.D01       Testify at legal or legislative proceedings.
1749  4.A.2.b.2.I19.D01                      Develop emergency procedures.

In [17]:
df1.shape

(255, 2)

In [26]:
df1["Task"] = ""

In [20]:
df2=pd.merge(df1,df[['Task','DWA ID']],on='DWA ID')

In [ ]:
for index,row in df1.iterrows():
    for index1,row1 in df.iterrows():
        print(row['Task'])

In [25]:
df2.to_csv('TDWAFinal.csv')

In [50]:
for index,row in df1.iterrows():
    for index1,row1 in df.iterrows():
        temp = ""
        if(row['DWA ID'][index] == row1['DWA ID'][index1]):
            temp=temp+ " "+ row1['Task'][index1]
    df1['Task'][index]=df1['Task'][index] + " " + temp

IndexError: string index out of range

In [46]:
df1.shape

(255, 3)

In [47]:
df1.to_csv('TDWAFinal.csv')